.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid blueviolet;
}

.nav-items>ul {
    list-style-type: none;
    display: flex;
}

.nav-items>ul>li {
    padding: 10px;
}

.logo {
    width: 60px;
    height: 70px
}

.card {
    width: 200px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card>img {
    width: 100%;
    border-radius: 20px;
}

.card>imgv#starlogo {
    width: 20%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.restaurant-list {
    /* min-height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.footer {
    margin-top: auto;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-container {
    position: sticky;
    width: 100%;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 48px;
    width: 100%;
    padding-right: 13px;
    -ms-flex-pack: center;
    justify-content: center;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    min-height: 200px;
}

.shimmer-container {
    width: 200px;
    height: 200px;
    margin: 20px;
    background: lightgray;
}

.instamart {
    display: flex;
}